.delani-home{
    background-image: url("/img/h_img.jpg");
    height: 100vh;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 5%;
    
}
.delani-home h1{
    font-weight: bolder;
    font-size:60px ;
}
.delani-home p{
    font-size: x-large;
}
.about-us{
    text-align: center;
    padding: 4px;
    font-size: x-large;
}
.about-us h2{
    font-weight: bolder;
    text-transform: uppercase;
}
.services{
    background-image: url("/img/s_image.jpg");
    text-align: center;
    color: white;
    height: 100vh;
    padding: 8%;
    background-repeat: no-repeat;
    font-size: x-large;
}
.services h2{
    text-transform: uppercase;
    font-weight: bolder;
 
}

.what-we-do h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
}
.what-we-do h4{
    text-transform: uppercase;
} 
.what-we-do p{
    font-size: x-large;
}
.portfolio img{
    margin: 10px;
}
.portfolio h2{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: xx-large;
}
.portfolio p{
    text-transform: uppercase;
    font-size: x-large;
} 
/* .contact-us{
    background-image: url("/img/c_image.jpg");
}
form{
    width:50%;
    margin: 0 auto;
}
#message{
    background-color: transparent;
    color: white;
}
#email{
    background-color: transparent;
    color: white;
}
#name{
    background-color: transparent;
    color: white;
}
#message::placeholder{
    color: white;
    font-size: x-large;
}
#email::placeholder{
    color: white;
    font-size: x-large;
}
#name::placeholder{
    color: white;
    font-size: x-large;
}
.contact-us h2{
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
}
.form textarea{
    height: 150px;
}
.footer{
    display: block;
    text-align: center;
}
.concl{
    text-align: center;
}
 */
